@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

:root {
  --color-dark-bg: 222.2 84% 4.9%;
  --color-light-blue: 214.3 31.8% 91.4%;
  --color-dark-blue: 217.2 32.6% 17.5%;
  --color-white: 210 40% 98%;
  --color-white-muted: 210 40% 96.1%;
  --color-bright-user: 205 90% 44%;
  --color-bright-rider: 150 71% 47%;
  --color-bright-rider: 150 71% 47%;
  --color-bright-admin: 150 71% 47%;
  --color-purple: 230 92% 65%;
}

// theming
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: var(--color-dark-bg);

    --muted: var(--color-white-muted);
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: var(--color-dark-bg);

    --card: 0 0% 100%;
    --card-foreground: var(--color-dark-bg);

    --border: var(--color-light-blue);
    --input: var(--color-light-blue);

    --primary: var(--color-bright-user);
    --primary-foreground: var(--color-white);

    --secondary: var(--color-purple);
    --secondary-foreground: var(--color-white);

    --accent: var(--color-white-muted);
    --accent-foreground: var(--color-dark-blue);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--color-white);

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth text-user-900;
    // font-family: "Hind Siliguri", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  @apply max-w-[1440px] mx-auto;
}

.section-padding {
  @apply py-16;
}

.section-margin {
  @apply my-16;
}

h1 {
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold;
  // line-height: 70px;
}
h2 {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold;
}
h3 {
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold;
}
